.membresia-content {
    position: relative;
}

section.membresia-content.home-bkg-image {
    height: 100vh;
    overflow: hidden;
}

section.membresia-content.home-bkg-image {
    height: 100vh;
    overflow: hidden;
}

section.membresia-content.home-bkg-image figure, section.membresia-content.home-bkg-image figure img {
    height: 100%;
}

.access-cuadro-en-imagen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.access-cuadro-en-imagen-content .access-empresas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.access-cuadro-en-imagen-content {
    width: 100%;
    max-width: 720px;
    background-color: rgba(0, 23, 90, 1);
    padding: 3rem;
    margin: auto;

    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.access-logo, .access-texto, .access-empresas {
    margin: auto;
    width: 75%;
    min-width: 300px;
    text-align: center;
}

.access-cuadro-en-imagen-content .access-empresas img {
    width: 100%;
    max-width: 150px;
}

.access-texto span {
    font-weight: bold;
    font-size: 1rem;
    color: var(--texto-claro);
}

.access-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.access-logo figure {
    width: 50%;
    max-width: 400px;
    min-width: 300px;
}

/*items access*/

section.membresia-content.home-bkg-color-azul {
    padding: 1rem;
}

.cnt-general-cuadruple {
    overflow: hidden;
    scroll-snap-type: x proximity;
    padding: 1rem 0;
}

.item-access {
    background: var(--bk-blanco);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex: 1 0 330px;
    border-radius: 0.5rem;
    gap: 1rem;
    min-height: 370px;
    max-width: 330px;
}

.item-access-titulo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.item-access-titulo span {
    font-weight: bold;
    color: var(--color-main);
    font-weight: 1rem;
}

.item-access-subtitulo {
    text-align: center;
}

.item-access-subtitulo span {
    font-weight: bold;
    font-size: 1rem;
}
/* Items beneficion*/

.cnt-beneficios-titulo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#cnt_general_beneficios {
    padding: 1rem;
}

form#form_ingreso_bin {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.input-grupo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.item-beneficio {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex: 1 0 330px;
    border-radius: 0.5rem;
    gap: 1rem;
    max-width: 330px;
}

.beneficios-titulo-access {
    color: #ffffff;
    text-align: center;
}

.beneficios-titulo, .beneficios-titulo-access, .restaurantes-titulo {
    font-weight: bold;
    font-size: calc(24px + (15 - 12) * ((100vw - 300px) / (800 - 600)));
}

.cnt-beneficios-titulo span:nth-child(2) {
    font-size: calc(8px + (15 - 12) * ((100vw - 300px) / (800 - 600)));
    font-weight: 500;
}

input#bin_digitos {
    min-width: 250px;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    color: #000000;
}

input#bin_digitos:active, input#bin_digitos:focus, input#bin_digitos:hover {
    border: 1px dotted var(--bk-azul);
    transition: all 0.5s;
}

div#bin_digitos_p {
    color: #000000;
    transform: translate(0px, -45px);
    pointer-events: none;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 5px;
}

#bin_digitos_p figure {
    width: 20px;
    float: right;
    transform: translate(-10px, -40px);
}

div#bin_digitos_p.active { display: block;}

div#bin_digitos_p p.form-input-hint {
    transform: translate(5px, 5px);
}
form#form_ingreso_bin .form-group {
    position: relative;
}
form#form_ingreso_bin .form-group:not(:last-child) {
    margin-bottom: 0;
}

div.item-beneficio, div.item-beneficio p, div.item-beneficio, div.item-beneficio p, strong  {
    text-align: center;
}

span.item-beneficio-titulo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid var(--color-main);
    color: var(--color-main);
    font-weight: bold;   
}

div.item-beneficio p {
    font-size: calc(10px +(15 - 12)*((70vw - 300px) /(9.00 - 600)));
    font-weight: 300;
}

div.item-beneficio p strong {
    font-weight: bold !important;
}
/* Items de restaurante */

.info-restaurante-icon figure {
    width: 20px;
}
.info-restaurante-icon figure img {
    height: auto;
    width: auto;
}

/* ITEM restaurante */

div#cnt_general_restaurantes {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

#cnt_general_restaurantes .cnt-general-cuadruple {
    padding: 1rem 0.5rem;
    width: 90%;
    margin: auto;
}

.item-restaurante {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.5);;
    -webkit-box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.5);;
    -moz-box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.5);;
}

.item-restaurante div {
    width: 100%;
}

.restaurante-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.1rem;
    padding-bottom: 0.5rem;
}

.restaurante-titulo span {
    font-weight: bold;
}

.restaurante-info-item i::before {
    fill: var(--color-main);
    color: var(--color-main);
}

.info-restaurante-icon-ctn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.restaurante-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

#restaurante_like {
    cursor: pointer;
}

#restaurante_like.active svg path {
    fill: var(--color-main);
    color: var(--color-main);
}
/* FOOTER */

.contenido_footer_interna {
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.contenido_footer_interna div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 1rem
}

.contenido_footer_interna div span {
    text-align: center;
}

#footer_main_interna .contenido_footer_interna a
{
    position: relative;
}

#footer_main_interna .contenido_footer_interna a:nth-child(2)::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transform: translateX(-0.5rem);
}

/* Correcciones */

.titulo-porcentaje-numero {
    font-size: 3rem;
    color: var(--color-main);
    font-weight: bold;
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

span.titulo-porcentaje {
    font-size: 1.5rem;
    transform: translateY(-12px);
    font-weight: 200;
}